doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home
  link(rel='stylesheet' href='./css/style.css')
main
  h2 Oops! Something went wrong.
  h2 Error: #{error}
  a(href='/')
    button.btn Back